<ion-menu [content]="content" text-center>
		<br />
		<br />
		<br />
		<ion-icon style="font-size: 180px; color: #32db64" name="md-contact" ></ion-icon>
		<h2 style="color:  #32db64;">Muhammad Yusuf</h2>
		<h6>myusuf@gmail.com</h6>
		<hr>
		<br>
		<button ion-button color="secondary" round (click)="back()" menuClose="left">
			<ion-icon name="walk">  Logout</ion-icon>
		</button>
</ion-menu>
<ion-header style="background-color:  #32db64;" #content>
	<ion-toolbar>
		<button id="content" ion-button menuToggle >
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title text-center>
			Klinik
		</ion-title>
	</ion-toolbar>
</ion-header>
<br>
<ion-content>
	<ion-tabs tabsPlacement="top"  menuClose="left">
		<ion-tab [root]="tab1Root" tabTitle="Daftar Klinik" tabIcon="add-circle"></ion-tab>
		<ion-tab [root]="tab2Root" tabTitle="Antrian" tabIcon="contacts"></ion-tab>
	</ion-tabs>
</ion-content>