  <ion-content>
  <ion-list style="color: green; vertical-align: middle;">
    <ion-item (click)="menu1()" mecuClose="left">
      <ion-icon name="add-circle" style="font-size: 45px" item-start></ion-icon>
      <h2>Klinik Era Medika</h2>
      <p>Jl. Ngunut No.10 Pulosari, Ngunut</p>
    </ion-item>
    <ion-item (click)="menu2()" mecuClose="left">
      <ion-icon name="add-circle" style="font-size: 45px" item-start></ion-icon>
      <h2>Klinik Pratama</h2>
      <p>Jl.Jambu No.53 Kepuh, Boyolangu</p>
    </ion-item>
  </ion-list>
</ion-content>