<ion-header>
	<ion-toolbar>
		<ion-title>
			login Akun
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="no-scroll" padding text-center>
	<div ion-fixed style="width: 100%; height: 100%">
		<br />
		<h1 style="color: green">Masuk</h1>
		<div>
			<ion-img style="width:130px; height: 150px; background-color: white" src="https://gal.proto.io/generated/ded4c11c5a11eae360a6283c160ef5b9_43a047.svg"></ion-img>
		</div>
		<br />
		<br />
		<ion-list>
			<ion-item>
				<ion-icon name="person" item-start></ion-icon> 
				<ion-label floating>Username</ion-label>
				<ion-input type="text"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="key" item-start></ion-icon>
				<ion-label floating>Password</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
		</ion-list>
		<p>
			<button ion-button color="secondary" round (click)="open()">Masuk</button>
			<button ion-button color="secondary" round><ion-icon name="person-add" (click)="openPage()"> Daftar</ion-icon></button> 
		</p>
	</div>
</ion-content>
