page-home {
}

.item-md.item-block .item-inner{
	border-bottom: 0;
	box-shadow: none!important;
}

.label{
	color: #32db64!important;
	margin-bottom: 0!important;
	margin-top: 2px!important;
}

.input-wrapper{
	padding-bottom: 12px!important;
}

.input-has-focus .label{
	margin-bottom: 0!important;
}

.item{
	color: #32db64;
	border-bottom: 1px solid #32db64;
}

ion-icon[item-start]{
	margin: 0!important;
}
