<ion-content>
  <ion-list style="color: green; vertical-align: middle;">
    <ion-item>
      <ion-icon name="add-circle" style="font-size: 45px" item-start></ion-icon>
      Klinik Era Medika
    </ion-item>
    <ion-item>
      <ion-icon name="person" style="font-size: 45px" item-start></ion-icon>
      <h3>No. Antrian</h3>
      <p>21</p>
    </ion-item>
    <ion-item>
      <ion-icon name="contacts" style="font-size: 45px" item-start></ion-icon>
      <h3>Antrian Sekarang</h3>
      <p>18</p>
    </ion-item>
  </ion-list>
</ion-content>