<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Klinik Era Medika
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-img style="width: 320px; height: 215px" src="http://joomly.net/frontend/web/images/googlemap/map.png"  text-center></ion-img>
	<div>
		<h5>Detail Klinik : </h5>
	</div>
	<div style="background-color: #8cd98c; color: black;" text-center>
		<h6>Alamat: Jl. Ngunut No.10 Pulosari, Ngunut</h6>
	</div>
	<div text-center>
		<h6>Jam Buka: 08.00 - 21.00</h6>
	</div>
	<div style="background-color: #8cd98c; color: black;" text-center>
		<h6>Status: Buka</h6>
	</div>
	<ion-grid text-center>
		<ion-row>
			<ion-col style="background-color: #53c653">
				<ion-icon name="contacts"><br>
					Jumlah Antrian
				</ion-icon>
			</ion-col>
			<ion-col>
				<ion-icon name="contact"><br>
					Sekarang Antrian
				</ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid text-center>
		<ion-row>
			<ion-col>
				20
			</ion-col>
			<ion-col>
				<span style="background-color: #53c653; border-radius: 100%; padding: 15px">18</span>
			</ion-col>
		</ion-row>
	</ion-grid>
	<br>
	<div text-center>
		<button ion-button color="secondary" full (click)="push()">
			MENGANTRI
		</button>
	</div>
</ion-content>