<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title text-center>
			Klinik Era Medika
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content style="background-color: #99ff99" padding text-center>
	<br>
	<h1>Terima Kasih !</h1>
	<br>
	<h3>No. Antrian Anda</h3>
	<br>
	<br>
	<br>
	<br>
	<br>
	<span style="background-color: #00e64d; font-size: 70px; color: white; border-radius: 100%; padding: 50px; box-shadow: 0px 0px 95px 13px rgba(250,245,250,1); ">21</span>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<button ion-button color="secondary" block (click)="openPage()">SELESAI</button>
</ion-content>