<ion-header>
	<ion-toolbar>
		<ion-title>
			Daftar Akun
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="no-scroll" padding text-center>
	<div ion-fixed style="width: 100%; height: 100%">
		<br />
		<h1 style="color: green">Daftar</h1>
		<div>
			<ion-img style="width:100px; height: 120px; background-color: white" src="https://gal.proto.io/generated/ded4c11c5a11eae360a6283c160ef5b9_43a047.svg"></ion-img>
		</div>
		<ion-list>
			<ion-item>
				<ion-icon name="person" item-start></ion-icon> 
				<ion-label floating>Username</ion-label>
				<ion-input type="text"></ion-input>
			</ion-item>
			<ion-item><ion-icon name="key" item-start></ion-icon> 
				<ion-label floating>Password</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
			<ion-item><ion-icon name="call" item-start></ion-icon> 
				<ion-label floating>No. Telp</ion-label>
				<ion-input type="number"></ion-input>
			</ion-item>
			<ion-item><ion-icon name="mail" item-start></ion-icon> 
				<ion-label floating>E-mail</ion-label>
				<ion-input type="text"></ion-input>
			</ion-item>
		</ion-list>
		<p>
			<button ion-button color="secondary" round (click)="openPage()">Daftar</button>
		</p>
	</div>
</ion-content>
